name: Test Python code

on:
  push:
    branches:
      - main
      - ci-nix
  pull_request:
    paths:
      - ".github/actions/**"
      - ".github/workflows/test.yml"
      - "**.py"
      - "pyproject.toml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.14"]

    defaults:
      run:
        shell: nix develop .#${{ matrix.python-version == '3.14' && 'python314' || 'python312' }} --command bash -e {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=https://github.com/cachix/devenv-nixpkgs/archive/rolling.tar.gz

      - name: Set up Nix cache
        uses: cachix/cachix-action@v16
        with:
          name: vs-nix-overlay

      - name: Run tests
        run: uv run pytest --cov-report=term-missing:skip-covered --cov=vskernels --cov=vstools --cov=vsexprtools tests

      - name: Convert coverage report to cobertura
        run: uv run coverage xml

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2.3.7
        with:
          file: coverage.xml
          format: cobertura
          parallel: true
          flag-name: ${{ join(matrix.*, ' - ') }}
          fail-on-error: false

      - name: Post webhook for failure
        if: failure()
        uses: Jaded-Encoding-Thaumaturgy/discord-failure-notifier@v1
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}

  post-test:
    needs: [test]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Mark Coveralls as finished
        uses: coverallsapp/github-action@v2.3.7
        with:
          parallel-finished: true
          fail-on-error: false
